In [1]:
a = "Deepak"

In [2]:
a[-1]

'k'

In [3]:
a[0:6]

'Deepak'

In [4]:
a

'Deepak'

In [ ]:
for i in a : # for -> revserve keyword   i -> local/temporary variable and i goes to a and data layega o index se last index tak after that no data available hoga phir loop ruk jayega
    print(i)

D
e
e
p
a
k

In [6]:
for i in a:
    print(i.upper())

D
E
E
P
A
K

In [7]:
l = [2,3,4,5,6]

In [8]:
for i in l :
    print(i)

2
3
4
5
6

In [9]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(4,40,3))

[4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37]

In [12]:
for i in range (7):
    print(i)

0
1
2
3
4
5
6

In [ ]:
a = "deepak"
len(a)

6

In [14]:
for i in range(len(a)):
    print(a[i])

d
e
e
p
a
k

In [15]:
for i in range (0,len(a),2) :
    print(a[i])

d
e
a

In [17]:
a[::-1]

'kapeed'

In [18]:
range(len(a))

range(0, 6)

In [20]:
list(range(len(a)-1,-1,-1))

[5, 4, 3, 2, 1, 0]

In [21]:
for i in range(len(a)-1,-1,-1):
    print(a[i])

k
a
p
e
e
d

In [22]:
n = 6
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****
******

In [28]:
n = 6
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [4]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end = "")
    print()

*
**
***
****
*****

In [2]:
n = 6
for i in range(1,n+1):
    print(" " * (n-i) + "*"*i)

     *
    **
   ***
  ****
 *****
******

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(end = "* ", "")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
n = 6
for i in range (1,n+1):
    print(" " * (n-i)+ "*" *(2*i-1))

     *
    ***
   *****
  *******
 *********
***********

In [7]:
n = 6
for i in range (1,n+1):
    print(" " * (n-i)+ "*" *(2*i-1))
for i in range(n-1,0,-1):
    print(" " * (n-i) + "*"*(2*i-1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *