In [2]:
range(5)

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [7]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [8]:
## Strings

str = "Deepak"
for i in str :
    print(i)

D
e
e
p
a
k

#### While Loop
- The while loop continuous to exceute as long as the condition is True.

In [9]:
count = 0

while count<5:
    print(count)
    count = count + 1

0
1
2
3
4

In [11]:
count = 10

while count%2 == 0:
    print(count)
    count = count + 1

10

#### Loop Control Statement

#### Break
- The break statement exists the loop permanently

In [12]:
## Break Statement

for i in range (10):
    if i == 5 :
        break
    print(i)

0
1
2
3
4

#### Continue
- The continue statement skips the current iteration and continues with the next

In [13]:
for i in range (10):
    if i % 2 == 0 :
        continue
    print(i)

1
3
5
7
9

#### Pass
- The pass statement is a null operation; it does nothing

In [14]:
for i in range (5):
    if i == 3 :
        pass 
    print(i)

0
1
2
3
4

#### Nested Loops

- A loop inside a loop

In [16]:
for i in range (3):
    for j in range(3):
        for k in range (2):
            print(f"i:{i}and j : {j}")

i:0and j : 0
i:0and j : 0
i:0and j : 1
i:0and j : 1
i:0and j : 2
i:0and j : 2
i:1and j : 0
i:1and j : 0
i:1and j : 1
i:1and j : 1
i:1and j : 2
i:1and j : 2
i:2and j : 0
i:2and j : 0
i:2and j : 1
i:2and j : 1
i:2and j : 2
i:2and j : 2

#### Q. Calculate the sum of first N Natural numbers using a while and for loop